.achievement-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 40px;
}

.achievement {
  display: inline-flex;
  height: 56px;
  width: 56px;
  border-radius: 8px;
  background-color: #ab87ff;
  transition: transform 0.5 ease;
}

.achievement:hover {
  transform: scale(0.94);
}
