.days {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 24px 40px;
  margin: auto;
}

#sunday,
#monday,
#tuesday,
#wednesday,
#thursday,
#friday,
#saturday {
  display: inline-flex;
  height: 22px;
  width: 22px;
  border-radius: 3px;
  background-color: aliceblue;
}
