.card {
  --card-color: #373e47;
  --card-text-color: #c4d1de;
  height: auto;
  width: 300px;
  background-color: var(--card-color);
  color: var(--card-text-color);
  padding: 8px 14px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin: 8px 8px;
}

.edit-icon {
  height: 30px;
  margin-left: auto;
}
